.flex{
    display: flex;
}
.sticky {
    position: -webkit -sticky;
    position: sticky;
}
.logo{
    text-align: center;
}
header {
    justify-content: space-between;
}
header > div.info{
    padding: 1% 7% 1% 0;
}
header > div.info > div{
    padding:50%;
    margin-left: 0;
}
.input{
    padding:15%;
    background-color: chocolate;
    position: absolute;
    left: -150%;
    top:100%;
    text-align: center;
    display: none;
    z-index: 1;
}
.user:hover >.input{
    display: block;
}
.item:hover > div{
    display:block;
}
.fa-trash{
    cursor: pointer;
}
.input::after{
    content:" ";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent chocolate transparent;
    bottom: 100%;
    left:44%;
}
.input > div > input{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.input > div{
    margin: 5px;
    padding: 5px;
    background-color: blue;
    cursor: pointer;
    color: white;
}
.input > div:last-child{
    background-color: gray;
    border:solid 1px lightgray;
}
.item > div{
    position: absolute;
    left:80%;
    background-color: rgb(180, 195, 209);
    top:11%;
    display: none;
    width: 100%;
    max-width: 19%;
    padding: 3px;
    z-index: 1;
}
.item > div::after{
    content:" ";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent rgb(180, 195, 209) transparent;
    bottom:100%;
    right:16%;

}
.item > div > div.container{
    max-width: 100%;
    max-height: 50%;
}
div.flex{
    justify-content: space-between;
}

.item div.flex > div > img{
    width: 100%;
}
.item > div div.flex > div:first-child{
    width: 20%;
}
.item > div div.order-button {
    text-align: center;
    margin-top: 5%;
}
.item > div div.order-button > button{
    background-color: aqua;
    color: white;
    border: none;
    width: 60%;
    cursor: pointer;
}
.user{
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}
.menu.fixed{/*Chuyen ul.menu thanh flex */
    position: fixed;
    width: 100%;
    top:0;
    margin-top: 0;      
}
.menu{
    list-style: none;
    padding-left: 100px;
    background-color: pink;
    z-index: 1;
}
.menu > li{
    padding:1% 3% ;
    position: relative;
    cursor: pointer;
}

.menu >li:hover{
    background-color: antiquewhite;
    color:rgba(173, 27, 8, 0.603)
}

.sub-menu{
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: pink;
    left: 0;
    width: 150%;
    top:43px;
}
.sub-menu > li{
    padding: 15px;
    cursor: pointer;
    background-color: pink;
    color: black;
    display: none;
}
.menu > li:hover > ul.sub-menu > li{
    display: block;
}
.sub-menu > li:hover{
    background-color: antiquewhite;
    color:rgba(173, 27, 8, 0.603)
}
.search-container{
    margin-top: 1%;
    margin-left: 2%;
}
.search-box > input{
    width: 115%;  
    border-radius: 30px;
    border-color: transparent;
}
.search-btn > button{
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}
/* Xong logo + header + menu */

section > h2{
    text-align: center;
    text-decoration: underline palevioletred;
}
/* Bat dau phan anh ben trai */
.left-container{
    width: 38%;
    margin-right: 1%;
    margin-left: 10%;
}
.main-img > img{
    width: 100%;
}
.small-img{
    list-style: none;
    margin:0;
    padding: 0;
}
.small-img > li{
    margin: 3% 0;
    text-align: center;
    width: 33%;
}
.small-img > li > img{
    cursor: pointer;
    width: 75%;
}

/* Ket thuc phan anh ben trai */

/* Bat dau phan thanh toan ben phai */
.right-container{
    width: 40%;
}
.detail{
    color: white;
    border-radius: 15px;
    list-style: none;
    background-color:rgb(56, 56, 241);
    padding: 15px;
}
.rate{
    text-align: center;
    color: green;
}
.fa-star{
    color: gold;
}
.buy > h2{
    text-align: center;
    color: red;
}
.pay > td > input, .pay > td > button{
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}
.pay > td > button{
    cursor: pointer;
    background-color: chocolate;
    padding: 5px 20px;
}
.change{
    animation: doiMauVien 1s infinite;
}
@keyframes doiMauVien {
    from{
        border-color:  red;
    }
    to{
        border-color:  gold;
    }
}
/* Bat dau phan thong bao khi an vao nut mua hang */

#modal-container{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    pointer-events: none;
}
#modal-container.show{
    opacity: 1;
    pointer-events: all;
}
#modal{
    background-color: white;
    width: 500px;
    position: relative;
    left:30%;
    top:25%;
}
#modal > .modal-header{
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-bottom: 1px solid lightgray;
}
#btn-close{
    background: transparent;
    border: none;
    font-size: large;
    cursor: pointer;
}
.modal-body{
    padding:20px 10px;
    color: lightcoral;
}
.modal-header > h3{
    text-align: center;
    color: aqua;
}
.modal-body > div{
    margin: 15px 0 5px;
}
.modal-body > div:last-child{
    margin-left:40%;
    margin-bottom: 0;
}
.modal-body > div:last-child > button{
    padding: 5px 15px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}
/* Ket thuc phan thong bao khi an vao nut mua hang */

/* Ket thuc phan thanh toan ben phai */
nav.scroll-top-btn > div{
    border-radius: 50%;
    text-align: center;
    width: 50px;
    background-color: tomato;
    position: fixed;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
}
/* XOng Nut scroll top */
footer.flex{
    border-bottom: 1px solid gray;
    justify-content: space-between;
    margin: 50px 100px;
}
footer.flex > div{
    width: 32%;
    text-align: center;
}
footer.flex.contact{
    border: none;
}
footer.flex.contact > ul{
    list-style: none;
}
/* Xong phan lien he- contact */
.content h3{
    margin: 0;
}
/* bat dau css nut chat messenger */
#chat-box{
    border-radius: 15px;
    position: fixed;
    bottom: 5px;
    left: 10px;
    cursor: pointer;
    width: 30%;
}
#fb-btn{
    position: absolute;
    top:-65px;
}
.box{
    cursor:initial;
    display: none;    
}
#chat-box .box div.flex{
    align-items: center;
    justify-content: space-around;
}
textarea{
    width: 50%;
}
.fa-facebook-messenger{
    color:rgb(223, 154, 6);
}
#chat-box{
    background-color: papayawhip;
    
}
#close-chat{
    cursor: pointer;
}
#chat-box .box button{
    position: relative;
    bottom: 7px;
    padding: 1px 15px;
    cursor: pointer;
}

/* responsive design */
@media (max-width:1000px) {
    .menu.fixed{
        width:90%;
    }
}
@media (max-width: 860px) {
    *{
        font-size: small;
    }
    .input{
        padding: 5px;
        left:-55px;
        top:30px;
    }
    .search-box > input{
        display: none;
    }
    .search-container:hover > .search-box > input{
        display: block;
    }
    .recommended-img{
        display: none;
    }
    .content-container{
        flex-direction: column;
        margin-left: 25%;
    }
    .content{
        margin: 0;
        width: 100%;
    }
    footer.sup img{
        width: 25%;
    }
    footer{
        margin-left: 10px !important;
    }
    header.flex{
        flex-direction: column;
    }
    div.item > div{
        width: 50px;
    }
    .info{
        width: 25px;
    }
    .input::after{
        display: none;
    }
    .input{
        left: 15px;
    }
    .item > div::after{
       display: none;
    }
    .item > div{
        top:125px;
        left:30px;
        width: 150px !important;
    }
    .container{
        max-width: 100px !important;
    }
    .container > div.flex{
        flex-direction: column;
        width: 150px;
    }
    i.fa-angle-left, i.fa-angle-right{
        font-size: small;
    }
    .page-number > li > button{
        padding:1px;
    }
    /* CSS phan modal-container khi thu nho man hinh */
    #modal{
        width: 50%;
    }
    /* css phan button dat hang */
    .pay > td > button{
        cursor: pointer;
        background-color: chocolate;
        padding:1%;
    }
    #input-btn{
        width: 80%;
    }
    .pay > td{
        width: 50%;
    }

    .menu.fixed{
        width:85%;
    }
}

@media (max-width:500px) {
    .menu{
        flex-direction:column ;
        padding-left: 0;
    }
    .menu.fixed{
        width: 100%;
        position: initial !important;
    }
    .sub-menu{
        width: 100%;
        left:100%;
        top: 0%;
    }
    .search-container{
        width: 50%;
    }
    .menu > li{
        width: 25%;
    }
}
